* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
}

h1 {
  margin-left: 6%;
  margin-right: 6%;
  font-size: 7rem;
}

h2 {
  font-size: 2.4rem;
}

h1, h2, h3 {
  color: white;
  font-family: 'Exo', sans-serif;
}

.container-fluid {
  padding: 0;
}

.row {
  --bs-gutter-x: 0rem;
  justify-content: center;
}

.fondosMainNoIndex, main section .s1-act, main div .s1-sedes, main div .s1-sobreN, main div .s1-act {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header nav {
  border-bottom: white 3px solid;
}

header nav div .navbar-brand {
  margin-left: 4%;
  margin-right: -4%;
}

header nav div .navbar-brand .logotipo1 {
  width: 10rem;
}

header nav div button .navbar-toggler-icon {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 3rem;
  color: white;
  opacity: 1;
}

header nav div .navbar-collapse {
  justify-content: center;
}

header nav div .navbar-collapse .navbar-nav {
  font-family: 'Exo', sans-serif;
  list-style-type: none;
  align-items: center;
}

header nav div .navbar-collapse .navbar-nav .nav-item-brand .navbar-brand .logotipo2 {
  width: 8.5rem;
}

header nav div .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 1.6rem;
}

header nav div .navbar-collapse .navbar-nav .nav-item:hover {
  color: white;
  opacity: 1;
}

@media screen and (min-width: 1150px) {
  header nav div div .navbar-nav li a {
    font-size: 1.7rem;
    margin-left: 1.5vw;
  }
}

@media screen and (min-width: 1340px) {
  header nav div div .navbar-nav li a {
    margin-left: 2.5vw;
  }
}

@media screen and (max-width: 988px) {
  header nav div button .navbar-toggler-icon {
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
  }
  header nav div .navbar-brand .logotipo1 {
    width: 5rem;
    margin-left: 6%;
  }
  header nav div div .navbar-nav {
    border-top: white solid 3px;
    display: block;
    margin-bottom: 1%;
  }
  header nav div div .navbar-nav .nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
  }
  header nav div div .navbar-nav .nav-item-brand .logotipo2 {
    display: none;
  }
}

@media screen and (min-width: 988px) {
  header nav div .navbar-brand .logotipo1 {
    display: none;
  }
  header nav div div .navbar-nav .nav-item {
    opacity: 0.75;
  }
  header nav div div .navbar-nav .nav-item:hover {
    opacity: 1;
    transform: scale(1.15, 1.15);
    transition-duration: 0.5s;
  }
}

main div .s1-index {
  background-image: url(../images/sarkogym-fondo1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  border-bottom: 3px white solid;
}

main div .s1-index .h1I {
  text-shadow: 0.1em 0.1em 0.1em black;
}

main div div .card {
  border: 6px black solid;
  margin: 1.4rem;
  background-color: #212529;
  text-align: center;
  align-items: center;
}

main div div .card div .card-img-top {
  border-bottom: 6px black solid;
}

main div div .card div .card-body {
  padding: 0;
}

main div div .card div .card-body .layer {
  position: absolute;
  background: #FFCE1A;
  top: 0;
  height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

main div div .card div .card-body .layer:hover {
  opacity: 0.92;
  height: 100%;
  transition: all 550ms;
}

main div div .card div .card-body .layer span {
  font-size: 0.75em;
}

main div div .card div .card-body .layer h3 {
  opacity: 1;
  font-size: 4em;
  font-weight: 600;
  color: black;
  width: 90%;
  margin: 80px auto 0px;
  border-bottom: 0;
  padding-bottom: 40px;
  padding-top: 100px;
}

main div div .card div .card-body .card-title {
  border-bottom: 6px black solid;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

main div div .card div .card-body .card-title strong {
  font-weight: normal;
}

main div div .card div .card-body .list-group {
  display: block;
}

main div div .card div .card-body .list-group .list-group-item {
  border: 0px;
  background-color: #212529;
  color: white;
  font-size: 1.2rem;
}

@media screen and (max-width: 988px) {
  main .marmar {
    margin: 10px;
  }
}

@media screen and (min-width: 988px) {
  .card:hover {
    opacity: 1;
    transform: scale(1.02, 1.02);
    transition-duration: 0.65s;
  }
}

@media screen and (max-width: 420px) {
  main div .h1I {
    font-size: 5rem;
  }
}

main section .s1-act {
  background-image: url(../images/sarkogym-fondo2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  border-bottom: 3px white solid;
}

main section .h1A {
  text-shadow: 0.1em 0.1em 0.1em black;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

main section .actbox {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: white solid 3px;
  margin: 1.7rem;
  color: white;
  padding: 3%;
  background-position: center;
  background-size: cover;
}

main section .actbox h2 {
  font-size: 3rem;
  text-shadow: 0.1em 0.1em 0.1em black;
}

main section .actbox .pacts {
  font-size: 1rem;
  display: none;
}

main section .actbox:hover {
  transform: rotatey(180deg) scale(1.05, 1.05);
  transition-duration: 1.5s;
  background-color: black;
}

main section .actbox:hover .h2display {
  display: none;
}

main section .actbox:hover .pacts {
  display: block;
  transform: rotatey(180deg) scale(1.05, 1.05);
  transition-duration: 1s;
}

main section .col-11 {
  max-height: 180px;
  min-height: 180px;
}

main section .col-11:hover {
  max-height: 180px;
  min-height: 180px;
}

main section .musculacion {
  background-image: url(../images/musculacion.jpg);
}

main section .musculacion:hover {
  background-image: url();
}

main section .crossfit {
  background-image: url(../images/crossfit.jpg);
}

main section .crossfit:hover {
  background-image: url();
}

main section .boxeo {
  background-image: url(../images/boxeo.jpg);
}

main section .boxeo:hover {
  background-image: url();
}

main section .cycling {
  background-image: url(../images/cycling.jpg);
}

main section .cycling:hover {
  background-image: url();
}

main section .funcional {
  background-image: url(../images/funcional.webp);
}

main section .funcional:hover {
  background-image: url();
}

main section .running {
  background-image: url(../images/running.jpg);
}

main section .running:hover {
  background-image: url();
}

main section .bodypump {
  background-image: url(../images/bodypump.jpg);
}

main section .bodypump:hover {
  background-image: url();
}

main section .pilates {
  background-image: url(../images/pilates.jpg);
}

main section .pilates:hover {
  background-image: url();
}

main section .zumba {
  background-image: url(../images/zumba.jpg);
}

main section .zumba:hover {
  background-image: url();
}

main section .prox {
  background: black;
  opacity: 0.75;
  margin-bottom: 1.8rem;
}

main section .prox:hover {
  opacity: 1;
  transform: rotatey(0deg) scale(1.05, 1.05);
  transition-duration: 1s;
}

@media screen and (max-width: 988px) {
  main section .h1A {
    font-size: 5rem;
  }
  main section .actbox {
    margin: 0.5rem;
    max-height: 135px;
    min-height: 135px;
  }
  main section .col-11:hover {
    max-height: 135px;
    min-height: 135px;
  }
}

@media screen and (max-width: 988px) and (max-width: 768px) {
  main section .actbox {
    margin: 0.5rem;
  }
  main section .prox {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 988px) and (max-width: 556px) {
  main section .h1A {
    font-size: 3rem;
  }
  main section .actbox h2 {
    font-size: 2.4rem;
  }
}

main div .s1-sedes {
  background-image: url(../images/sarkogym-fondo2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  border-bottom: 3px white solid;
}

main div .h1Sn {
  text-shadow: 0.1em 0.1em 0.1em black;
}

main div .psedes {
  user-select: text;
  color: white;
  font-size: 1.2rem;
  margin-top: 0.8rem;
  margin-bottom: 1.3rem;
  text-align: justify;
}

main div .psedes strong {
  font-weight: normal;
}

main div div h2 {
  font-size: 2.5rem;
  margin: 1.1rem;
}

main div div .carousel {
  margin-bottom: 2%;
  margin-top: 2%;
  border: white solid 2px;
}

@media screen and (max-width: 675px) {
  main div div h2 {
    font-size: 2rem;
    margin: 0.8rem;
  }
}

@media screen and (max-width: 987px) {
  main div div .carousel {
    margin-left: 3%;
    margin-right: 3%;
  }
}

main div .s1-sobreN {
  background-image: url(../images/sarkogym-fondo2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  border-bottom: 3px white solid;
}

main div .s1-sobreN .h1Sn {
  text-shadow: 0.1em 0.1em 0.1em black;
}

main div .s1-sobreN .psni {
  color: white;
  font-size: 1.4rem;
  text-shadow: 0.1em 0.1em 0.1em black;
}

main .rowHistoria {
  display: flex;
  flex-flow: column wrap;
}

main .rowHistoria .h2Sn {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

main .rowHistoria div {
  align-items: center;
}

main .rowHistoria div article .psnh {
  user-select: text;
  color: white;
  font-size: 1.2rem;
  margin-left: 2%;
  margin-right: 4%;
  margin-bottom: 2%;
  text-align: justify;
}

main .rowHistoria div article .psnh strong {
  font-weight: normal;
}

main .rowHistoria div aside {
  margin-bottom: 2%;
  margin-top: 1%;
  text-align: center;
}

main .rowHistoria div aside .fotoSN {
  width: 27vw;
}

@media screen and (max-width: 1160px) {
  main div .h1Sn {
    font-size: 5rem;
  }
  main div .psni {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media screen and (max-width: 545px) {
  main div .h1Sn {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 988px) {
  main .rowHistoria div aside .fotoSN {
    width: 85vw;
  }
}

main div .s1-act {
  background-image: url(../images/sarkogym-fondo2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  border-bottom: 3px white solid;
}

main div .s1-act .h1C {
  text-shadow: 0.1em 0.1em 0.1em black;
}

main div section .h2for {
  margin: 1.2rem;
  text-align: center;
  color: white;
}

main div section iframe {
  width: 92%;
  height: 300px;
  margin: 4%;
  margin-top: 0px;
}

main div section .ulC {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 4%;
  padding-left: 0;
}

main form {
  border-top: 3px solid white;
}

main form .col-12 {
  width: 98%;
}

main form .legend {
  font-size: 3rem;
  color: white;
  margin: 0.7rem;
  text-align: center;
}

main form div {
  margin: 0.5rem;
  text-align: center;
}

main form div input {
  height: 3rem;
  background-color: white;
}

main form div textarea {
  background-color: white;
}

@media screen and (max-width: 988px) {
  main div .h1C {
    font-size: 5rem;
  }
}

@media screen and (max-width: 650px) {
  main div .h1C {
    font-size: 4rem;
  }
}

@media screen and (max-width: 500px) {
  main div .h1C {
    font-size: 3rem;
  }
}

@media screen and (max-width: 370px) {
  main div .h1C {
    font-size: 2.5rem;
  }
}

main .error {
  height: 60vh;
}

main .error .p404 {
  color: white;
  text-align: center;
}

main .error .h1404 {
  text-align: center;
  margin-top: 40vh;
}

@media screen and (max-width: 815px) {
  main .error .p404 {
    color: white;
    text-align: center;
    font-size: 0.9rem;
  }
  main .error .h1404 {
    font-size: 3rem;
  }
}

footer {
  border-top: 3px solid white;
}

footer .float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 2px 2px #999;
  z-index: 100;
}

footer .float .my-float {
  margin-top: 16px;
}

footer .float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

footer .menu-redes {
  margin: 0.5rem;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer .menuliR {
  display: inline-block;
  margin: 0.75rem;
}

footer .menuliR .imgredes {
  width: 40px;
}

@media screen and (max-width: 370px) {
  footer .menu-redes .menuliR .imgredes {
    width: 30px;
  }
}

@media screen and (max-width: 768px) {
  footer .float {
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 35px;
  }
  footer .float .my-float {
    margin-top: 11px;
  }
  footer .menu-redes {
    margin-right: 9%;
  }
  footer .menu-redes .menuliR .imgredes {
    width: 35px;
  }
}

@media screen and (max-width: 568px) {
  footer .menu-redes {
    justify-content: space-around;
  }
}

body {
  background-color: #1d1e22;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 988px) {
  .col-lg-4 {
    width: 28.7174%;
  }
}

@media screen and (max-width: 768px) {
  body {
    user-select: none;
  }
  h1 {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */