* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none; }

body {
  background-color: #1d1e22;
  font-family: 'Lora', serif; }

h1 {
  margin-left: 6%;
  margin-right: 6%;
  font-size: 7rem; }

h2 {
  font-size: 2.4rem; }

h1, h2, h3 {
  color: white; }

.container-fluid {
  padding: 0; }

.row {
  --bs-gutter-x: 0rem;
  justify-content: center; }

/* ESTILOS NAVBAR TODAS LAS WEBS */
nav {
  border-bottom: white 3px solid; }

.navbar-brand {
  margin-left: 4%;
  margin-right: -4%; }

.nav-link {
  color: white;
  font-size: 1.6rem; }

.navbar-toggler-icon {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 3rem;
  color: white;
  opacity: 1; }

.nav-item a:hover {
  color: white;
  opacity: 1; }

.navbar-collapse {
  justify-content: center; }

.navbar-nav {
  font-family: 'Cinzel', serif;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center; }

.logotipo2, .logotipo1 {
  width: 10rem; }

@media screen and (min-width: 1150px) {
  /* ESTILOS NAVBAR */
  .navbar-nav li a {
    font-size: 1.7rem; }
  .navbar-nav li a {
    margin-left: 1.5vw; }
  /*  */ }

@media screen and (min-width: 1340px) {
  /* ESTILOS NAVBAR */
  .navbar-nav li a {
    margin-left: 2.5vw; }
  /*  */ }

@media screen and (max-width: 988px) {
  /* ESTILOS NAVBAR */
  .nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center; }
  .navbar-nav {
    border-top: white solid 3px;
    display: block;
    margin-bottom: 1%; }
  .logotipo2 {
    display: none; }
  /*  */ }

@media screen and (min-width: 988px) {
  /* ESTILOS NAVBAR */
  .nav-item {
    opacity: 0.75; }
  .nav-item:hover {
    opacity: 1;
    transform: scale(1.15, 1.15);
    transition-duration: 0.5s; }
  .card:hover {
    opacity: 1;
    transform: scale(1.02, 1.02);
    transition-duration: 0.65s; }
  .logotipo1 {
    display: none; }
  /*  */ }

/* --CIERRE-- */
/* ESTILOS INDEX MAIN INICIO */
main div .s1-index {
  background-image: url(../images/gym8.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  border-bottom: 3px white solid; }
  main div .s1-index .h1I {
    text-shadow: 0.1em 0.1em 0.1em black; }

main div div .card {
  border: 6px black solid;
  margin: 1.4rem;
  background-color: #212529;
  text-align: center;
  align-items: center; }
  main div div .card div .card-img-top {
    border-bottom: 6px black solid; }
  main div div .card div .card-body {
    padding: 0; }
    main div div .card div .card-body .card-title {
      border-bottom: 6px black solid;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem; }
    main div div .card div .card-body .list-group {
      display: block; }
      main div div .card div .card-body .list-group .list-group-item {
        border: 0px solid black;
        background-color: #212529;
        color: white;
        font-size: 1.1rem; }

@media screen and (max-width: 988px) {
  main .marmar {
    margin: 10px; } }

/* ESTILOS ACTIVIDADES MAIN INICIO */
main section .s1-act {
  background-image: url(../images/gym9.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  border-bottom: 3px white solid;
  display: flex;
  flex-direction: column;
  justify-content: center; }

main section .h1A {
  text-shadow: 0.1em 0.1em 0.1em black;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%; }

main section .actbox {
  display: flex;
  justify-content: center;
  border: white solid 3px;
  margin: 0.9rem;
  color: white;
  opacity: 0.65;
  padding: 4%;
  background-image: url(../images/gymact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  main section .actbox:hover {
    opacity: 1;
    transform: scale(1.05, 1.05);
    transition-duration: 0.65s; }

@media screen and (max-width: 988px) {
  main section .h1A {
    font-size: 5rem; }
  main section .actbox {
    margin: 0.5rem; } }

@media screen and (max-width: 768px) {
  main section .actbox {
    margin: 0.5rem; } }

@media screen and (max-width: 556px) {
  main section .h1A {
    font-size: 3rem; } }

/* ESTILOS SOBRE NOSOTROS MAIN INICIO*/
main div .s1-sobreN {
  background-image: url(../images/gym9.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  border-bottom: 3px white solid;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  main div .s1-sobreN .h1Sn {
    text-shadow: 0.1em 0.1em 0.1em black; }
  main div .s1-sobreN .psni {
    color: white;
    font-size: 1.4rem;
    text-shadow: 0.1em 0.1em 0.1em black; }

main .rowHistoria {
  display: flex;
  flex-flow: column wrap; }
  main .rowHistoria article .h2Sn {
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%; }
  main .rowHistoria article .psnh {
    color: white;
    font-size: 1.2rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    text-align: justify; }

@media screen and (max-width: 1160px) {
  main div .h1Sn {
    font-size: 5rem; }
  main div .psni {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%; } }

main div .s1-act {
  background-image: url(../images/gym9.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  border-bottom: 3px white solid;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  main div .s1-act .h1C {
    text-shadow: 0.1em 0.1em 0.1em black; }

main div section .h2for {
  margin: 1.2rem;
  text-align: center;
  color: white; }

main div section iframe {
  width: 90%;
  height: 300px;
  margin: 30px;
  margin-top: 0px; }

main div section .ulC {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 30px; }

footer {
  border-top: 3px solid white; }
  footer .menu-redes {
    margin: 0.5rem;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    footer .menu-redes .menuliR {
      display: inline-block;
      margin: 0.75rem; }
      footer .menu-redes .menuliR .imgredes {
        width: 50px; }

@media screen and (max-width: 370px) {
  footer .menu-redes .menuliR .imgredes {
    width: 45px; } }

@media screen and (max-width: 768px) {
  footer .menu-redes {
    justify-content: space-around;
    margin-right: 9%; } }

@media screen and (min-width: 988px) {
  .col-lg-4 {
    width: 28.7174%; } }

@media screen and (max-width: 768px) {
  h1 {
    text-align: center; } }
