/* ESTILOS NAVBAR TODAS LAS WEBS */

nav{
    border-bottom: white 3px solid;
}

.navbar-brand{
    margin-left: 4%;
    margin-right: -4%;
}

.nav-link{
    color: white;
    font-size: 1.6rem;
}

.navbar-toggler-icon{
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 3rem;
    color: white;
    opacity: 1;
}

.nav-item a:hover{
    color: white;
    opacity: 1;
}

.navbar-collapse{
    justify-content: center;
}

.navbar-nav{
    font-family: 'Cinzel', serif;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.logotipo2, .logotipo1{
    width: 10rem;
}

@media screen and (min-width: 1150px){
    
    /* ESTILOS NAVBAR */

    .navbar-nav li a{
        font-size: 1.7rem;
    }
    .navbar-nav li a{
        margin-left: 1.5vw;
    }

    /*  */
}

@media screen and (min-width: 1340px){
    
    /* ESTILOS NAVBAR */

    .navbar-nav li a{
        margin-left: 2.5vw;
    }

    /*  */
}

@media screen and (max-width: 988px){
    
    /* ESTILOS NAVBAR */
    .nav-item{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        text-align: center;
    }
    .navbar-nav{
        border-top: white solid 3px;
        display: block;
        margin-bottom: 1%;
    }
   
    .logotipo2{
        display: none;
    }

    /*  */
}

@media screen and (min-width:988px){

    /* ESTILOS NAVBAR */
    .nav-item{
        opacity: 0.75;
    }
    
    .nav-item:hover{
        opacity: 1;
        transform: scale(1.15, 1.15);
        transition-duration: 0.5s;
    }

    .card:hover{
        opacity: 1;
        transform: scale(1.02, 1.02);
        transition-duration: 0.65s;
    }

    .logotipo1{
        display: none;
    }

    /*  */
}
/* --CIERRE-- */