main{
    div{
        .s1-sedes{
            @include fondo-main-inicio();
            @extend .fondosMainNoIndex;
        }
                        
        .h1Sn{
            text-shadow: $sombra;
        }
    }

    div{
        .psedes{
            color: white;
            font-size: $texto;
            margin-top: 0.8rem;
            margin-bottom: 1.3rem;
            text-align: justify;

            strong{
                font-weight: normal;
            }
        }
        div{
            h2{
              font-size: 2.5rem;
              margin: 1.1rem;  
            }

            .carousel{
                margin-bottom: 2%;
                margin-top: 2%;
                border: $bordercolor solid 2px;
            }
        }
    }
}

@media screen and (max-width: 675px){
    main{
        div{
            div{
                h2{
                    font-size: 2rem;
                    margin: 0.8rem;
                }
            }
        }
    }
}

@media screen and (max-width: 987px) {
    main{
        div{
            div{
                .carousel{
                    margin-left: 3%;
                    margin-right: 3%;
                }
            }
        }
    }
}