main{
    div{
        .s1-act{
            background-image: url(../images/gym9.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            border-bottom: 3px white solid;
            display: flex;
            flex-direction: column;
            justify-content: center; 

            .h1C{
                text-shadow: 0.1em 0.1em 0.1em black;
            }
        }
    }

    div{
        section{
            .h2for{
                margin: 1.2rem;
                text-align: center;
                color: white;
            }
            
            iframe{
                width: 92%;
                height: 300px;
                margin: 4%;
                margin-top: 0px;
            }
            
            .ulC{
                list-style-type: none;
                display: flex;
                flex-direction: column;
                text-align: center;
                color: white;
                font-size: 1.2rem;
                margin-bottom: 30px;
            }
        }
    }

    form{
        background-color: rgba(255, 255, 255, 0.021);

        .legend{
            font-size: 3rem;
            color: white;
            margin: 0.7rem;
            text-align: center;
        }

        div{
            margin: 0.5rem;

            input{
                height: 3rem;
            }
            
        }
    }
}

@media screen and (max-width: 988px) {
    main{
        div{
            .h1C{
                font-size: 5rem;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    main{
        div{
            .h1C{
                font-size: 4rem;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    main{
        div{
            .h1C{
                font-size: 3rem;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    main{
        div{
            .h1C{
                font-size: 2.5rem;
            }
        }
    }
}