main{
    section{
        .s1-act{
            @include fondo-main-inicio();
            @extend .fondosMainNoIndex;
        }
        .h1A{
            text-shadow: $sombra;
            text-align: center;
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    section{
        .actbox{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            border: $bordercolor solid 3px;
            margin: 1.7rem;
            color: white;
            padding: 3%;
            background-position: center;
            background-size: cover;

            h2{
                font-size: 3rem;
                text-shadow: $sombra;
            }

            .pacts{
                font-size: 1rem;
                display: none;
            }

            &:hover{
                transform: rotatey(180deg) scale(1.05, 1.05);
                transition-duration: 1.5s;
                background-color: black;
            
                .h2display{
                    display: none;
                }

                .pacts{
                    display: block;
                    transform: rotatey(180deg) scale(1.05, 1.05);
                    transition-duration: 1s;
                }
            } 
        }

        .col-11{
            max-height: 180px;
            min-height: 180px;
            &:hover{
                max-height: 180px;
                min-height: 180px;
            }
        }

        .musculacion{
            background-image: url(../images/musculacion.jpg);
            &:hover{
                background-image: url();
            }
        }

        .crossfit{
            background-image: url(../images/crossfit.jpg);
            &:hover{
                background-image: url();
            }
        } 

        .boxeo{
            background-image: url(../images/boxeo.jpg);
            &:hover{
                background-image: url();
            }
        } 

        .cycling{
            background-image: url(../images/cycling.jpg);
            &:hover{
                background-image: url();
            }
        } 

        .funcional{
            background-image: url(../images/funcional.webp);
            &:hover{
                background-image: url();
            }
        } 

        .running{
            background-image: url(../images/running.jpg);
            &:hover{
                background-image: url();
            }
        }

        .bodypump{
            background-image: url(../images/bodypump.jpg);
            &:hover{
                background-image: url();
            }
        } 

        .pilates{
            background-image: url(../images/pilates.jpg);
            &:hover{
                background-image: url();
            }
        }

        .zumba{
            background-image: url(../images/zumba.jpg);
            &:hover{
                background-image: url();
            }
        }

        .prox{
            background: black;
            opacity: 0.75;
            margin-bottom: 1.8rem;
            &:hover{
                opacity: 1;
                transform: rotatey(0deg) scale(1.05, 1.05);
                transition-duration: 1s;
            }
        }
    }
}

@media screen and (max-width: 988px){

    main{
        section{
            .h1A{
                font-size: 5rem;
            }
        }

        section{
            .actbox{
                margin: 0.5rem;
                max-height: 135px;
                min-height: 135px;
            }
            .col-11{
                &:hover{
                    max-height: 135px;
                    min-height: 135px;
            }
        }
    }  
}

@media screen and (max-width: 768px){

    main{
        section{
            .actbox{
                margin: 0.5rem;
            }
            .prox{
                margin-bottom: 1rem;
            }
        }
    }

}

@media screen and (max-width: 556px){
    main{
        section{
            .h1A{
                font-size: 3rem;
            }
            .actbox{
                h2{
                    font-size: 2.4rem;
                }
            }
        }
    }
}
}