main{
    div{
        .s1-index{
            @include fondo-main-inicio($imagen-fondos: url(../images/sarkogym-fondo1.jpg));

        .h1I{
            text-shadow: $sombra;
        }
        }
    }

    div{
        div{
            .card{
                border: 6px black solid;
                margin: 1.4rem;
                background-color: #212529;
                text-align: center;
                align-items: center;

                div{
                    .card-img-top{
                        border-bottom: 6px black solid;
                    }

                    .card-body{
                        padding: 0;

                        .layer {
                            position: absolute;
                            background: $fondoLayer;
                            top: 0;
                            height: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            opacity: 0;

                            &:hover{
                                opacity: 0.92;
                                height: 100%;
                                transition: all 550ms;  
                            }

                            span{
                                font-size: 0.75em;
                            }

                            h3{
                                opacity: 1;
                                font-size: 4em;
                                font-weight: 600;
                                color: black;
                                width: 90%;
                                margin: 80px auto 0px;
                                border-bottom: 0;
                                padding-bottom: 40px;
                                padding-top: 100px;
                            }
                        }

                        .card-title{
                            border-bottom: 6px black solid;
                            padding-bottom: 0.5rem;
                            padding-top: 0.5rem;
                            strong{
                                font-weight: normal;
                            }
                        }
                        
                        .list-group{
                            display: block;

                            .list-group-item{
                                border: 0px;
                                background-color: #212529;
                                color: white;
                                font-size: $texto;
                            }
                        }                       
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 988px){   
    main{
        .marmar{
            margin: 10px;
        }
    }
}

@media screen and (min-width: 988px){
    .card:hover{
        opacity: 1;
        transform: scale(1.02, 1.02);
        transition-duration: 0.65s;
    }
}

@media screen and (max-width: 420px){
    main{
        div{
            .h1I{
                font-size: 5rem;
            }
        }
    }
}