main{
    section{
        .s1-act{
            @include fondo-main-inicio();
            @extend .fondosMainNoIndex;
        }
        .h1A{
            text-shadow: 0.1em 0.1em 0.1em black;
            text-align: center;
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    section{
        .actbox{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            border: white solid 3px;
            margin: 1.7rem;
            color: white;
            opacity: 0.65;
            padding: 3%;
            background-image: url(../images/gymact.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            
            h2{
                font-size: 3rem;
            }

            .pacts{
                font-size: 1rem;
            }
            &:hover{
                opacity: 1;
                transform: scale(1.05, 1.05);
                transition-duration: 0.65s;
            }
        }
    }
}

@media screen and (max-width: 988px){

    main{
        section{
            .h1A{
                font-size: 5rem;
            }
        }

        section{
            .actbox{
                margin: 0.5rem;
            } 
        }
    }
    
}

@media screen and (max-width: 768px){

    main{
        section{
            .actbox{
                margin: 0.5rem;
            }
        }
    }

}

@media screen and (max-width: 556px){
    main{
        section{
            .h1A{
                font-size: 3rem;
            }
            .actbox{
                font-size: 2rem;
            }
        }
    }
}