main{
    div{
        .s1-sedes{
            @include fondo-main-inicio();
            @extend .fondosMainNoIndex;
        }
                        
        .h1Sn{
            text-shadow: 0.1em 0.1em 0.1em black;
        }
    }

    div{
        div{
            h2{
              font-size: 2.5rem;
              margin: 1.1rem;  
            }

            .carousel{
                margin-bottom: 2%;
                margin-top: 2%;
            }
        }
    }
}

@media screen and (max-width: 675px){
    main{
        div{
            div{
                h2{
                    font-size: 2rem;
                    margin: 0.8rem;
                }
            }
        }
    }
}

@media screen and (max-width: 987px) {
    main{
        div{
            div{
                .carousel{
                    margin-left: 3%;
                    margin-right: 3%;
                }
            }
        }
    }
}