main{
    div{
        .s1-sobreN{
            @include fondo-main-inicio();
            @extend .fondosMainNoIndex;
            
            .h1Sn{
                text-shadow: $sombra;
            }

            .psni{
                color: white;
                font-size: 1.4rem;
                text-shadow: $sombra;
            }
        }
    }

    .rowHistoria{
        display: flex;
        flex-flow: column wrap;
        .h2Sn{
            text-align: center;
            margin-top: 1%;
            margin-bottom: 1%;
        }

        div{
            align-items: center;

            article{
                .psnh{
                    color: white;
                    font-size: $texto;
                    margin-left: 2%;
                    margin-right: 4%;
                    margin-bottom: 2%;
                    text-align: justify;
                    strong{
                        font-weight: normal;
                    }
                }
            }
            aside{
                margin-bottom: 2%;
                margin-top: 1%;
                text-align: center;
                .fotoSN{
                    width: 27vw;
                }
            }
        }
    }
}

@media screen and (max-width:1160px){

    main{
        div{
            .h1Sn{
                font-size: 5rem;
            }
        
            .psni{
                text-align: center;
                margin-left: 2%;
                margin-right: 2%;
            }
        
        }
    }
}

@media screen and (max-width: 545px){
    main{
        div{
            .h1Sn{
                font-size: 3.5rem;
            }
        }
    }
}

@media screen and (max-width: 988px){
    main{
        .rowHistoria{
            div{
                aside{
                    .fotoSN{
                        width: 85vw;
                    }
                }
            }
        }
    }
}